        <!-- Header Starts -->
            <div class="header">
                <div class="container">
                	<div class="logo">
                    <h1>Test</h1> </div>
                    <div class="call_us"><p> test_subtitle</p></div>
                    <div class="clear"></div>            
                </div>                	
            </div>	
           
        <!-- Header ends -->
        <!-- nav Starts -->
             <div class="nav">
             <div class="container">
             <div class="header_nav">
            <ul>
                        	<li class="home"><a ui-sref="home">Home</a>  </li>
                            <li><a ui-sref="articles">Articles</a>  </li>
                            <li><a ui-sref="videos">Videos</a> </li>
                            <li><a ui-sref="blog">Blog</a>  </li>
                            <li class="last"><a ui-sref="about">About</a></li>
                             </ul>
                             <div class="clear"></div>
                             </div>
             
              </div>
             </div>
         <!-- nav end -->
              