
            <div class="footer">
                <div class="container">
               <div class="copy">
            Copyright © 2014 WebsiteName. All rights reserved. Design by <a href="http://www.freecsstemplates.com" target="_blank" rel="nofollow">FreeCSSTemplates.com</a> (modified)</div>
          <div class="social_icons flt_rt">
            	<!--<ul>
                      <li><a href="#"><img src="images/fb_icon.png" width="16" height="16" alt="img" /> </a></li>  
                      <li><a href="#"> <img src="images/twitter.png" width="16" height="16" alt="img" /></a></li> 
                     <li><a href="#"><img src="images/google_icon.png" width="16" height="16" alt="img" /></a></li>
                      
               </ul> -->
               <div class="clear"></div>
            </div>
            <div class="clear"></div>
            </div>
            <div class="clear"></div>
                </div>   